$header-background: #227B3E;
$header-text-color: rgba(255, 255, 255, 1);
$header-link-color: rgba(179, 223, 235, 0.681);
$header-link-color-hover: rgba(37, 112, 140, 0.95);
$header-brand-color: #618054;

.header {
  background: $header-background;
  color: $header-text-color;

  .header-brand {
    color: $header-brand-color;
  }

  .header-navbar {
    min-height: 3rem;

    .header-toggler {
      color: $header-link-color;
    }

    .header-nav {
      .nav-link {
        color: $header-link-color;

        &:hover {
          color: $header-link-color-hover;
        }
      }
    }
  }

  .breadcrumb {
    min-height: 2rem;

    .breadcrumb-item {
      a {
        color: $header-link-color;

        &:hover {
          color: $header-link-color-hover;
        }
      }
    }
  }
}
