$header-background: #1E4D40;
$header-text-color: rgba(255, 255, 255, 0.95);
$header-link-color: rgba(255, 255, 255, 0.75);
$header-link-color-hover: #ffffff;
$header-brand-color: #D9A77E;

.header {
  background: $header-background;
  color: $header-text-color;

  .header-brand {
    color: $header-brand-color;
  }

  .header-navbar {
    min-height: 3rem;

    .header-toggler {
      color: $header-link-color;
    }

    .header-nav {
      .nav-link {
        color: $header-link-color;

        &:hover {
          color: $header-link-color-hover;
        }
      }
    }
  }

  .breadcrumb {
    min-height: 2rem;

    .breadcrumb-item {
      a {
        color: $header-link-color;

        &:hover {
          color: $header-link-color-hover;
        }
      }
    }
  }
}
